@media (max-width: 767px){
  [data-section-id="68ecf0d8b379f60f1dae0f65"] .content-wrapper{
    padding-top:12px !important;
    padding-bottom:12px !important;
    min-height:0 !important;
  }
  [data-section-id="68ecf0d8b379f60f1dae0f65"] .fe-grid{
    row-gap:0 !important;
  }
  [data-section-id="68ecf0d8b379f60f1dae0f65"] .sqs-block.spacer-block{
    display:none !important;
    height:0 !important;
    padding:0 !important;
    margin:0 !important;
  }
}

body { outline: 6px solid hotpink !important; }
